<h1> Create a survey </h1>
<div class="form-group">
  <form action="/admin" method="post">
    <label for="title">Name your survey</label>
    <input id="title" name="title" type="text" placeholder="Survey name" required="true" class="form-control">
  <br>
    <button type="submit" class="btn btn-info">Add Survey</button>
  </form>
</div>
