<h1> Create a survey </h1>
<div class="form-group">
  <form action="/admin" method="post">
    <label for="title">Name your survey</label>
    <input id="title" name="title" type="text" placeholder="Survey name" required="true" class="form-control">
  <br>
    <button type="submit" class="btn btn-info">Add Survey</button>
  </form>
</div>

<% if @surveys.any? %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Survey</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @surveys.each() do |survey| %>
    <tr>
      <td>
        <a href="/surveys/<%= survey.id() %>/questions"><%= survey.title() %></a>
      </td>
      <td>
      <td><form action = "/surveys/<%= survey.id %>" method="post">
        <div class="form-group">
          <input type="hidden" name="_method" value="delete">
          <button type="submit" class="btn-danger">Delete</button>
        </div>
      </form></td>
      <% end %>
    </tr>
  </tbody>
</table>

<% else %>

<p> No current surveys.  Let's create one! </p>

<% end %>
