<h1><%= @survey.title() %></h1>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Question</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @survey.questions().each() do |question| %>
    <tr>
      <td>
        <%= question.question() %>
      </td>
        <td><form action = "/questions/<%= question.id() %>" method="post">
          <div class="form-group">
            <input type="hidden" name="_method" value="patch">
            <label for="answer" class="form-label"></label>
            <input id="answer" name="answer" type="text" placeholder="Input answer">
          </div>
        </td>
        <% end %>
      </tr>
    </tbody>
  </table>
  <button type="submit" class="btn-default">Submit</button>
</form>

  <p><a href="/admin">Back</a></p>
